{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}
<!DOCTYPE html>
<html lang="kn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ page.title }} - ವಿಶ್ವವಾಣಿ{% endblock %}</title>
    {# Meta Tags #}
    <meta name="description" content="{% block meta_description %}{{ page.search_description }}{% endblock %}">
    <meta property="og:title" content="{% block og_title %}{{ page.title }}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{{ page.search_description }}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% static 'img/logo.png' %}{% endblock %}">
    {# Favicon #}
    <link rel="icon" href="{% static 'img/fav.png' %}" type="image/png">
    {# Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400..800&display=swap" rel="stylesheet">
    {# Third Party CSS #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    {# Local CSS #}
    <link rel="stylesheet" href="{% static 'assets/css/plugin.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/breakingNews.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
{% wagtailuserbar %}
{# Preloader #}
<div class="preloader-wrapper">
    <img src="{% static 'img/logo.png' %}">
    <div class='preloader'>
        <div class='diamond'>
            <span></span><span></span><span></span>
        </div>
        <div class='movement'>
            <span></span><span></span><span></span>
        </div>
    </div>
</div>
{# Header #}
{% include "base/includes/header.html" %}
{# Breaking News (optional) #}
{% block breaking_news %}{% endblock %}
{# Main Content #}
<main class="site-main">
    {% block content %}{% endblock %}
</main>
{# Footer #}
{% include "base/includes/footer.html" %}
{# JavaScript Libraries #}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.js"></script>
{# Local JavaScript #}
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script src="{% static 'assets/js/scripts.js' %}"></script>
<script src="{% static 'assets/js/breakingNews.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>